<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>Flashcard Quiz App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="{% if request.path == '/dashboard' %}is-dashboard{% endif %}">
<nav class="navbar">
    <h2>FlashLearn</h2>
    <div>
        <a class="nav-btn-start-home" href="/">Home</a>
        <a class="nav-link" href="/flashcards">Flashcards</a>
        <a class="nav-link" href="/categories">Quiz</a>
        <a class="nav-link" href="/dashboard">Dashboard</a>
        <a class="nav-link" href="/about">About</a>
        <label class="switch" aria-label="Toggle dark/light theme">
            <input type="checkbox" id="theme-toggle">
            <span class="slider round"></span>
        </label>
    </div>
</nav>

<main class="container">
    {% block content %}{% endblock %}
</main>

<script>
    const themeToggleCheckbox = document.getElementById('theme-toggle');
    const currentTheme = localStorage.getItem('theme') || 'dark';

    document.documentElement.setAttribute('data-theme', currentTheme);
    themeToggleCheckbox.checked = currentTheme === 'light';

    themeToggleCheckbox.addEventListener('change', () => {
        const newTheme = themeToggleCheckbox.checked ? 'light' : 'dark';
        document.documentElement.setAttribute('data-theme', newTheme);
        localStorage.setItem('theme', newTheme);
    });
</script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>